
:root.theme-dark {
  --background-clr: #000028; /* Цвет странички всей */
  --main-text-color: #f1b2ce; /* Цвет основного текста */
  --cover-img: url(../images/cover-image-dark.png); /* Изображение заднего фона */
  --header-decoration-icon-clr: #ff0070; /* Цвет иконки REC */
  --decorative-angle-clr: #ff0070; /* Цвет декоративных уголков */
  --button-color: #ff0070; /* Цвет кнопки */
  --button-hover-clr: #ff007066; /* Цвет рамки у кнопки при наведении */
  --button-focus-clr: #ff0070; /* Цвет рамки у кнопки при фокусе */
  --button-active-clr: #ff0070; /* Цвет активной кнопки */
  --accent-heading-clr: #db00ff; /* Цвет главного заголовка (focus/no focus) */
  --accent-clr: #ff0070; /* Часто использующиеся цвет в тексте */
  --accent-clr-with-background: #000028; /* Цвет текста при наличии заднего фона */
  --heading-clr: #ff0070; /* Цвет заголовка над текстом */
  --link-hover-clr: #f1b2ce; /* Цвет рамки у ссылки при наведении */
  --link-focus-clr: #f1b2ce; /* Цвет рамки у ссылки при фокусе */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-clr: #000028; /* Цвет странички всей */
    --main-text-color: #f1b2ce; /* Цвет основного текста */
    --cover-img: url(../images/cover-image-dark.png); /* Изображение заднего фона */
    --header-decoration-icon-clr: #ff0070; /* Цвет иконки REC */
    --decorative-angle-clr: #ff0070; /* Цвет декоративных уголков */
    --button-color: #ff0070; /* Цвет кнопки */
    --button-hover-clr: #ff007066; /* Цвет рамки у кнопки при наведении */
    --button-focus-clr: #ff0070; /* Цвет рамки у кнопки при фокусе */
    --button-active-clr: #ff0070; /* Цвет активной кнопки */
    --accent-heading-clr: #db00ff; /* Цвет главного заголовка (focus/no focus) */
    --accent-clr: #ff0070; /* Часто использующиеся цвет в тексте */
    --accent-clr-with-background: #000028; /* Цвет текста при наличии заднего фона */
    --heading-clr: #ff0070; /* Цвет заголовка над текстом */
    --link-hover-clr: #f1b2ce; /* Цвет рамки у ссылки при наведении */
    --link-focus-clr: #f1b2ce; /* Цвет рамки у ссылки при фокусе */
  }
}