
:root.theme-light {
  --background-clr: #FFF1F7; /* Цвет всей странички */
  --main-text-color: #353430; /* Цвет основного текста */
  --cover-img: url(../images/cover-image-light.png); /* Изображение заднего фона */
  --header-decoration-icon-clr: transparent;
  --decorative-angle-clr: #353430; /* Цвет декоративных уголков */
  --button-color: #353430; /* Цвет кнопки */
  --button-hover-clr: #32312d66; /* Цвет рамки у кнопки при наведении */
  --button-focus-clr: #353430; /* Цвет рамки у кнопки при фокусе */
  --button-active-clr: #353430; /* Цвет активной кнопки */
  --accent-heading-clr: #ffc2e6; /* Цвет главного заголовка (focus/no focus) */
  --accent-clr: #ff8dcb; /* Часто использующиеся цвет в тексте */
  --accent-clr-with-background: #353430; /* Цвет текста при наличии заднего фона */
  --heading-clr: #353430; /* Цвет заголовка над текстом */
  --link-hover-clr: #353430; /* Цвет рамки у ссылки при наведении */
  --link-focus-clr: #353430; /* Цвет рамки у ссылки при фокусе */
}

@media (prefers-color-scheme: light) {
  :root {
    --background-clr: #FFF1F7; /* Цвет всей странички */
    --main-text-color: #353430; /* Цвет основного текста */
    --cover-img: url(../images/cover-image-light.png); /* Изображение заднего фона */
    --header-decoration-icon-clr: transparent;
    --decorative-angle-clr: #353430; /* Цвет декоративных уголков */
    --button-color: #353430; /* Цвет кнопки */
    --button-hover-clr: #32312d66; /* Цвет рамки у кнопки при наведении */
    --button-focus-clr: #353430; /* Цвет рамки у кнопки при фокусе */
    --button-active-clr: #353430; /* Цвет активной кнопки */
    --accent-heading-clr: #ffc2e6; /* Цвет главного заголовка (focus/no focus) */
    --accent-clr: #ff8dcb; /* Часто использующиеся цвет в тексте */
    --accent-clr-with-background: #353430; /* Цвет текста при наличии заднего фона */
    --heading-clr: #353430; /* Цвет заголовка над текстом */
    --link-hover-clr: #353430; /* Цвет рамки у ссылки при наведении */
    --link-focus-clr: #353430; /* Цвет рамки у ссылки при фокусе */
  }
}